@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/segoeuithis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/segoeuithibd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/segoeuithisi.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../assets/fonts/segoeuithisz.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body{
    background-color: #162135;
    font-family: "SegoeUI", sans-serif;
    color: white;
    font-size: 18px;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}